.tab {
  overflow: hidden;
  border: 1px solid #cccccc;
  background-color: #fd6802;
  color: white;
  font-family: "Montserrat Alternates";
  background-color:  #3d414a;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color:  #3d414a;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px -2px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: orange;
  transition: 0.5s;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: orange;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background: url(../../img/wood.png)
}
.tabcontent{
    text-align: center;
}
.tabcontent p{
  font-size: 21px;
  color: white;
  font-family: Raleway;
}
.tabcontent h3{
  font-size: 20px;
  color: white;
  font-family: "Montserrat ExtraBold";
}
.tabcontent h5{
  font-size: 18px;
  color: white;
  font-family: "Montserrat ExtraBold";
}
.ce{
  font-family:"Montserrat ExtraBold" ;
  padding-left: 20px;
  padding-top: 10px;
  color: white;
  border: none;
  background: url(../../img/wood.png)
}
.footer {
  text-align: center;
  background: #212121;
  box-sizing: border-box;
}
.footer h2 {
  color: white;
  font-size: 15px;
  padding-bottom: 10px;
}
.map{
  width: 100%;
}